.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--light-text-color);

    box-shadow: 0px 4px 4px var(--primary-shadow);
    border: none;
    border-radius: 4px;
    background-color: var(--btn-bg-color);
    cursor: pointer;

    transition: background-color var(--animation);
    
    &:hover,
    &:focus {
    background-color: var(--hover-btn-bg-color);
    }   
}

 