.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;

    background-color: var(--main-ligt-bg-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &__icon {
        transition: fill var(--animation);
    }

    &:hover>.close-btn__icon,
    &:focus>.close-btn__icon {
        fill: var(--decoration-text-color);
    }
}

