.contacts {
    display: flex;
    margin-left: auto;

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}

.contacts__item{
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;


    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--animation);

    &:hover,
    &:focus {
        color: var(--decoration-text-color);
    }   
}


