.contacts {
    @media screen and (max-width: 767px){
        margin-bottom: 64px;
    }

    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
    
    @media screen and (min-width: 1200px){
        display: flex;
        gap: 50px;
    }

    &__item:not(:last-child){
        @media screen and (max-width: 1199px){
            margin-bottom: 10px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
        }
    }

    &__icon {
        display: none;

        @media screen and (min-width: 768px){
            display: block;
            fill: currentColor;
        }
    }
}

.contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;   

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;

        transition: color var(--animation);
    }
    
        

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 14px;
        line-height: 1.19;
    }

    &:hover,
    &:focus {
        @media screen and (min-width: 768px){     
            color: var(--decoration-text-color);
        }
    } 
    
    &--accent{
        @media screen and (max-width: 767px){
            font-size: 34px;
            color: var(--decoration-text-color);
        }
    }
}