.contacts {
    display: block;
    margin-left: auto;
    
    @media screen and (min-width: 1200px){
        display: flex;
        gap: 50px;
    }

    &__item:not(:last-child){
        @media screen and (max-width: 1199px){
            margin-bottom: 10px;
        }
    }

    &__icon {
        fill: currentColor;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;   

    transition: color var(--animation);

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 14px;
        line-height: 1.19;
    }

    &:hover,
    &:focus {
        color: var(--decoration-text-color);
    }   
}