@import "./buttons";
@import "./conteiner";
@import "./section";
@import "./socials";
@import "./tittle";
@import "./overlay";
@import "./logo";
@import "./main-navigation";
@import "./contacts";
@import "./subscription";
@import "./project";
@import "./backdrop";
@import "./modal-window";
@import "./cls-btn";
@import "./register-form";
@import "./textarea";
@import "./custom-checkbox";
@import "./checkbox";
