.logo {
    font-family: var(--secondary-font), sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--decoration-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }

    &--dark-text {
        color: var(--studio-header-color);
    }

    &--light-text {
        color: var(--light-text-color);
    }
}

