.project {
    --items: 3;

    &__card {
        position: relative;
        overflow: hidden;
    }

    &__desc {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    }

    &__inf {
        padding: 20px 24px;
        border: 1px solid var(--card-brd-color);
        border-top: none;
    }

    &__name {
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        color: var(--secondary-text-color);
    }

    &__type {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }
}

.project__link {
    display: block;

    transition: box-shadow var(--animation);

    &:hover,
    &:focus {
        box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

