.feature{
    &__list{       
        @media screen and (min-width: 768px) {
                --items: 2;
            }
        
        @media screen and (min-width: 1200px) {
                --items: 4;
            }
        }

    &__title{
        margin-bottom: 50px;
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin-bottom: 30px;

        border-radius: 4px;
        background-color: var(--secondary-bg-color);
        
        @media screen and (min-width: 768px) {
            width: 354px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }


    &__subtitle {
        margin-bottom: 10px;

        font-weight: 700;
        font-size: inherit;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-text-color);

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__description {
        letter-spacing: 0.03em;
    }
}

